<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Comment">
	
	<select id="selectAll" resultType="Comment" parameterType="int">
		select * from comment where board_id =#{board_id} order by comment_id desc
	</select>
	
	
	<insert id="insert" parameterType="Comment">
		insert into comment(board_id,msg,author) values(#{board_id},#{msg},#{author})
	</insert>
	
		<select id="select" parameterType="int"  resultType="Comment">
		select * from notice where comment_id=#{comment_id}
	</select>
	
	<update id="update" parameterType="Comment">
		update comment set msg = #{msg}, author=#{author} where board_id = #{board_id}
	</update>
	
	<delete id="delete" parameterType="int">
		delete from board where board_id = #{board_id}
	</delete>

</mapper>